name: Update BM digital contacts for Anytone 878

on:
  push:
    branches:
      - master
  schedule:
    - cron:  '*/10 * * * *'

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Python Environment
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install Requirements
        run: pip3 install -r requirements.txt

      - name: Execute Python script
        run: |
          python3 scripts/jtc_users.py

      - name: setup git config
        run: |
          git config user.name ${{ secrets.USERNAME }}
          git config user.email ${{ secrets.EMAIL }}

      - name: commit changes
        run: |
          chmod +x ./acommit.sh
          ./acommit.sh
